bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
temp-notes.txt
.idea
CopperDevs.DearImGui.sln.DotSettings.user

# rider default crap
/shelf/
/workspace.xml
/contentModel.xml
/.idea.CopperDevs.DearImGui.iml
/modules.xml
/projectSettingsUpdater.xml
/httpRequests/
/dataSources/
/dataSources.local.xml