bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
temp-notes.txt
.idea

CopperDevs.DearImGui.sln.DotSettings.user
CopperDevs.DearImGui.csproj.DotSettings

# rider default crap
/shelf/
/workspace.xml
/contentModel.xml
/.idea.CopperDevs.DearImGui.iml
/modules.xml
/projectSettingsUpdater.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# DocFx
.cache
**/_site/
/docs/**/DROP/
/docs/**/TEMP/
/docs/**/packages/
/docs/**/bin/
/docs/**/obj
/docs/api/*
!/docs/api/index.md
!/docs/api/toc.yml
/docs/log.txt
